<h1>About me</h1>

<blockquote><p></span>My name is franco. I am a computer enthusiast and software engineer from Zürich, Switzerland. Currently I am working with <a target="_new" href="http://www.getunik.com">getunik ag</a>, where we develop digital donation tools and services. I mostly work with the <a target="_new"  href="http://symfony.com">Symfony2 PHP Framework</a> and with <a target="_new" href="http://incubator.apache.org/clerezza/">apache clerezza</a>.</span></p></blockquote>

<blockquote><p></span>If you like to know more, you can</span>
</p></blockquote>

<p><cite>follow me on <a target="_new" href="https://twitter.com/francenhanken">twitter</a></cite><br />
<cite><a href="mailto:franco.fallica@gmail.com">email</a> me</cite><br />
<cite>subscribe to my <a href="http://feeds.feedburner.com/frnk">RSS</a> feed</cite><br />
<cite>visit me on <a href="http://github.com/hanken">github</a></cite></p>

