.the-header .unit-head .nav-global li {
background: url("/assets/themes/the-program/skin/100-90-5-monochrome.png") repeat scroll 0 0 #E9E0C8;
}


.related h1 {
	border-bottom: 5px solid #2d2d2d;
	margin-top: 60px;
	margin-bottom: 15px;
}

.unit-article .unit-foot {
    border-top:0px;
    clear: both;
    padding-top:0px;
    position: relative;
}

div.related {
background: url("/assets/themes/the-program/skin/100-90-5-monochrome.png") repeat scroll 0 0 #CDCDCD;
margin: 0 -26px;
    padding: 0 26px;
}
.misc-content h1 {
	border-bottom: 5px solid #2d2d2d;
	margin-bottom: 15px;
	padding-top: 15px;
}

body {
	background: url("/assets/themes/the-program/skin/100-90-5-monochrome.png") repeat scroll 0 0 #E9E0C8;
}

.body .unit-body {
padding: 0 26px 26px;
}

div.misc-content {
background: url("/assets/themes/the-program/skin/100-90-5-monochrome.png") repeat scroll 0 0 #8d8d8d;
margin: 0 -26px;
    padding: 0 26px;
}
.unit-article header {
	margin-bottom: 15px;
}

header span.date {
	font-size: 16px;
    font-weight: bold;
}
div.social {
    padding-top: 15px;
}
div.meta {
 border-bottom: 1px dashed #2D2D2D;
    margin-bottom: 15px;
margin-top: -10px;
    padding-bottom: 5px;
}

.meta ul { 
	margin-bottom: 0px;
}

.meta li.list-head {
  font-size: 15px;
    font-weight: bold;
    margin-left: -10px;
}
.meta ul.list-category  {
	display: none;
}
.unit-article header h1 {
 border: 0px;

}

.meta .list-linear li {
    display: inline-block;
    letter-spacing: normal;
    line-height: normal;
    margin-right: 5px;
    margin-top: 2px;
    vertical-align: middle;
    word-spacing: normal;
}

h1, .h1 {
    border-bottom: 1px dashed #2D2D2D;
    font-size: 2.6em;
    line-height: 52px;
    margin-bottom: 5px;
    margin-top: 0px;
}
.unit-article h3 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.unit-article h2  {
    font-size: 20px;
    line-height: 16px;
    margin-bottom: 5;
    margin-top: 0px;
}

.unit-article .list-category a,
.unit-article .list-tag a {
   padding: 0px 0px 0px 5px;
}

.unit-article .list-category a:active,
.unit-article .list-tag a:active {
}
.unit-article .list-category a:hover,
.unit-article .list-tag a:hover {
}
.unit-article .list-category a:hover span,
.unit-article .list-tag a:hover span {
  background-color: #e1e1e1;
}
.unit-article .list-category span,
.unit-article .list-tag span {
  background-color: #fafafa;
  border: 1px solid #DF3D4D;
  padding: 1px 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #1a1a1a;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: -1px;
  font-weight: bold;
  font-size: 13px;
}




.related ul.posts {
	margin-bottom: 0px;
}

.related ul.posts span.date,
.unit-article ul.posts span.date {
 padding: 5px;
 font-size: 1.2em;
 background-color: #2d2d2d;
 color: #afafaf;
}
.unit-article ul.posts li {
	list-style: none outside none;
}
.unit-article ul.posts li span.slug {
 border-bottom: 1px dashed #2D2D2D;
    display: block;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.unit-article ul.posts:last-child span.slug {
 border-bottom: 0px dashed #2D2D2D;
    display: block;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.unit-article ul.posts li {
  margin-top: 25px;
}

.unit-article ul.posts li a {
	font-size: 1.2em;
	padding: 5px 5px 4px;
}	

@media only screen and (min-width: 1280px) {
div.related {
background: url("/assets/themes/the-program/skin/100-90-5-monochrome.png") repeat scroll 0 0 #cdcdcd;
margin: 0 -52px;
    padding: 0 52px;
}

div.misc-content {
background: url("/assets/themes/the-program/skin/100-90-5-monochrome.png") repeat scroll 0 0 #8d8d8d;
margin: 0 -52px;
    padding: 0 52px;

}
}
