.unit-article ul.posts span.date {
 padding: 5px;
 font-size: 1.2em;
 background-color: #2d2d2d;
 color: #afafaf;
}

.unit-article ul.posts li span.slug {
 border-bottom: 1px dashed #2D2D2D;
    display: block;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.unit-article ul.posts:last-child span.slug {
 border-bottom: 0px dashed #2D2D2D;
    display: block;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
}


.unit-article ul.posts li {
  margin-top: 25px;
}


.unit-article ul.posts li a {
	font-size: 1.2em;
	padding: 5px;
}	
